<!DOCTYPE html>
<html>
<head>
    <title>Change Profile</title>
</head>
    <body>
    <h1>Change profile details</h1>
    <form action="/changeProfileDetails" method="post">
    <label for="hobby">Hobby</label><br>
    <input name = "hobby" id="hobby" type="text" value="<%= hobby %>" placeholder="Favourite hobby"/><br>
    <label for = "animal">Animal</label><br>
    <input name = "animal" id="animal" type="text" value="<% animal %>" placeholder="Favourite animal"/><br>
    </form>
    </body>
</html>