<!DOCTYPE html>
<html>
<head>
	<title>Held Proposal</title>
</head>
<body>
	<form method="post">
		<h1>Held Proposal</h1>
		<label>Title</label>
		<input placeholder="Title" name="title">
		<br>
		<label>Description</label>
		<br>
		<textarea name="description" placeholder="More info..."></textarea>
		<br>
		<button type="submit">Held</button>
	</form>
</body>
</html>