<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Log in</title>
    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="/public/login.css" rel="stylesheet">
  </head>
  <body class="text-center">
  <div class="column">
        <form class="form-signin" method="post" action="/resetPassword" role="form">
            <% if (status === "success") { %>
            <div class="alert alert-success" role="alert">Please follow the instructions in your email to reset your password.</div>
            <% } %>
            <% if (status === "error") { %>
            <div class='alert alert-danger' role='alert'>That email is not registered with us. Please re-enter your email.</div>
            <% } %>
            <h1 class="h3 mb-3 font-weight-normal">Enter your email adress</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input name = "email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus/>
            <button class="btn btn-lg btn-primary btn-block p2" type="submit">Reset Password!</button>
        </form>
        <br>
        <a class="btn btn-lg btn-info btn-block mb-3 p2" role="button" href="/login">Back to login page</a>
    </div>
    </body>
</html>